﻿

.fill { 
    min-height: 100%;
    height: 100%;
}


/* ******************************************************** */

/*#nav-top {
	position: fixed;
	top: 0;
	width: 100%;
	text-align: center;
	padding-top: 00px;
	background-color: red;
	border: none;
}

#nav-top a {
	width: 100%;
	font-size: 20px;
	height: 40px;
	font-family: 'Times New Roman', Times, serif;
	padding-left: 15px;
	padding-right: 15px;
	text-decoration: none;
}
#nav-top a:link {
    color: yellow;
}
#nav-top a:visited {
    color: yellow;
}
#nav-top a:hover {
	background-color: lightblue;
	color: red;
}
#nav-top a:active {
    color: yellow;
}


#nav-left {
	position: fixed;
	border: none;
	padding: 0px;
	background-color: red;
	color: red;
}

#nav-left a {
	font-size: 18px;
	font-family:  'Times New Roman', Times, serif;
	padding-left: 15px;
	padding-right: 15px;
	text-decoration: none;
}
#nav-left a:link {
    color: yellow;
	background-color: red;
}
#nav-left a:visited {
    color: yellow;
	background-color: red;
}
#nav-left a:hover {
	background-color: lightblue;
	color: red;
}
#nav-left a:active {
    color: yellow;
	background-color: red;
}


#leftLive {
	padding-top:320px;
}


#Message {

	height: 100%;
}*/

/* ****************************************************** */
html {height: 100%;}

img {
    max-width: 100%;
    height: auto;
}

body {
	padding-bottom: 00px;
	padding-top: 80px;
	height: 100%;
	@media screen and (max-width: 768px) {
		body {
			padding-top: 00px;
		}
	}

	background-color: red;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
