﻿@model PortobelloPostCardsCoUk.Models.ProductItem

@{
    ViewBag.Title = "Details";
}
<div>
	<h2>Details</h2>

	<div>
		<h4>ProductItem</h4>
		<hr />
		<dl class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(model => model.Sku)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Sku)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.ProductId)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.ProductId)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.Size)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Size)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Length)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Length)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Width)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Width)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Height)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Height)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Colour)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Colour)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Price)
			</dt>

			<dt>
				@Html.DisplayNameFor(model => model.Name)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Name)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Slug)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Slug)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Description)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Description)
			</dd>

		</dl>
	</div>
	<p>
		@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
		@Html.ActionLink("Back to List", "Index")
	</p>
</div>