﻿@model IEnumerable<PortobelloPostCardsCoUk.Models.ProductItem>

@{
    ViewBag.Title = "Product Items";
}
<div>
	<p>
		@Html.ActionLink("Create New", "Create")
	</p>
	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Sku)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ProductId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Size)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Depth)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Width)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Height)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Colour)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Price)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Slug)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Description)
			</th>
			<th></th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Sku)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ProductId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Size)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Depth)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Width)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Height)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Colour)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Price)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Slug)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
					@Html.ActionLink("Details", "Details", new { id = item.Id }) |
					@Html.ActionLink("Delete", "Delete", new { id = item.Id })
				</td>
			</tr>
		}

	</table>
</div>