<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Content</ion-title>
</ion-navbar>


<ion-content padding>

          <div>
            <canvas></canvas>
          </div>

</ion-content>
