﻿@using WebApp.Models
@Model WebApp.Models.ContentCollection

<section id="artCards" class="row container-fluid">

	<div id="mainContent" class="col-md-8">
		cnt here 
		<div class="row">

			<div class="row container-fluid">
				<img class="img-responsive height-responsive center-block" style="max-width:100%" src="@Model.Images["title"].Url" />
			</div>

			<div class="row">
				<div class="col-md-12 font-26 text-center">
					@Html.Raw(@Model.Text["top-blurb"].Text)
				</div>

				<div class="col-md-1"></div>
				<div class="col-md-10">
					<img class="img-responsive height-responsive center-block" src="@Model.Images["punk"].Url" />
				</div>
				<div class="col-md-1"></div>
			</div>

			<div class="row container-fluid">
				<div class="col-md-12 font-56 text-center">
					<br />
					<br />
					<br />
					<h1>@Html.Raw(@Model.Text["sub-blurb"].Text)</h1>
					<br />
					<br />
				</div>
			</div>
		</div>

		<div class="row container-fluid">

			<div id="artcardsCenter" class="row container-fluid">

				<div id="artcardsCenterContent1" class="col-md-12 text-center">

					<div class="row container-fluid">

						<div class="col-md-3 col-lg-3 vcenter">
						</div>

						<div class="col-md-6 col-lg-6 gallery-image vcenter">

							<img class="img-responsive height-responsive" src="@Model.Images["elec-1"].Url" />

						</div>

						<div class="col-md-3 col-lg-3 vcenter">
						</div>
					</div>

					<div class="row container-fluid">

						<div class="col-md-3 col-lg-3 vcenter">
						</div>

						<div class="col-md-6 col-lg-6 gallery-image vcenter">
							<img class="img-responsive height-responsive img-thumbnail" src="@Model.Images["elec-2"].Url" />
						</div>

						<div class="col-md-3 col-lg-3 vcenter">
						</div>
					</div>

					<div class="row container-fluid">

						<div class="col-md-3 col-lg-3 vcenter">
						</div>

						<div class="col-md-6 col-lg-6 gallery-image vcenter">
							
							@*<div class="fadehover">
								<img src="~/images/all/pubcrawl/1.jpg" alt="1" class="img-responsive height-responsive top">
								<img src="~/images/all/pubcrawl/2.jpg" alt="1" class="img-responsive height-responsive">
							</div>*@

							@*<div id="cardfan">
								<img src="~/images/all/pubcrawl/1.jpg" alt="1" class="img-responsive height-responsive">
								<img src="~/images/all/pubcrawl/2.jpg" alt="1" class="img-responsive height-responsive">
								<img src="~/images/all/pubcrawl/3.jpg" alt="1" class="img-responsive height-responsive">
							</div>*@
						</div>

						<div class="col-md-3 col-lg-3 vcenter">
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

</section>


