﻿@using WebApp.Models
@Model WebApp.Models.ContentCollection

<style type="text/css">
	#textArea {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		/*font-family: Helvetica, Arial, sans-serif;*/
		height: 100%;
		overflow: hidden;
		position: absolute;
		width: 100%;
	}
</style>

<section id="home" class="row " home-section">

	<div class="col-md-2 sidebar">
		<div class="row">
			<img id="sidebar-l-1" class="img-responsive height-responsive img-parent" src="@Model.Images["sidebar-l-1"].Url" />

		</div>
		<br />
		<br />
		<br />
		<br />
		<br />

		<div class="row">
			<img id="sidebar-l-2" class="img-responsive height-responsive img-parent" src="@Model.Images["sidebar-l-2"].Url" />
		</div>

	</div>

	<div class="col-md-10">
		<div class="row">
			<div class="col-md-12">
				<img class="img-responsive height-responsive img-centered" src="@Model.Images["top-main"].Url" />
			</div>
		</div>

		<div class="row">

			<div class="col-md-12 font-26 text-center">

				@if (User != null && User.Identity != null)
				{
					if (User.Identity.IsAuthenticated)
					{
						if (User.IsInRole("Administrator"))
						{
							@*<a href="/">Load</a>*@
							<input id="fu" type="file" class="vcenter" value="Load" />
							<br />
							<a href="/">Save</a>
							<br />
							<div contenteditable="true">
								@Html.Raw(@Model.Text["top-blurb"].Text)
							</div>
						}
						else
						{
							@Html.Raw(@Model.Text["top-blurb"].Text)
						}
					}
					else
					{
						@Html.Raw(@Model.Text["top-blurb"].Text)
					}
				}
				else
				{
					@Html.Raw(@Model.Text["top-blurb"].Text)
				}

			</div>

		</div>

		<br />
		<br />

		<div class="row">
			<div class="col-md-8">
				<img id="frontPageBottom-l" class="img-responsive height-responsive" src="@Model.Images["bottom-left"].Url" />
			</div>
			<div class="col-md-4">
				<img id="frontPageBottom-r" class="img-responsive height-responsive" src="@Model.Images["bottom-right"].Url" />
			</div>
		</div>
	</div>

</section>



