﻿@using WebApp.Models
@Model WebApp.Models.ContentCollection

<section id="ourPostcards" class="row container-fluid">

	<div class="row">
		<div class="col-md-2 col-lg-2">
			<a href=""><img class="img-responsive height-responsive center-block" src="~/images/content/our-postcards/Marcia-colour-LR.jpg" /></a>
		</div>

		<div class="col-md-8 col-lg-8">
			<div class="row container-fluid">
				<img class="img-responsive height-responsive center-block" src="~/images/content/our-postcards/Our%20Postcards.jpg" />
			</div>
			<div class="row container-fluid">
				<div class="col-md-12 col-lg-12 font-26 text-center">

					@if (User != null && User.Identity != null)
					{
						if (User.Identity.IsAuthenticated)
						{
							if (User.IsInRole("Administrator"))
							{
								<a href="/">Load</a>
								<br />
								<a href="/">Save</a>
								<br />
								<div contenteditable="true">
									@Html.Raw(@Model.Text["top-blurb"].Text)
								</div>
							}
							else
							{
								@Html.Raw(@Model.Text["top-blurb"].Text)
							}
						}
						else
						{
							@Html.Raw(@Model.Text["top-blurb"].Text)
						}
					}
					else
					{
						@Html.Raw(@Model.Text["top-blurb"].Text)
					}
				</div>
			</div>
		</div>

		<div class="col-md-2 col-lg-2">
			<a href=""><img class="img-responsive height-responsive center-block" src="~/images/content/our-postcards/JC-Rapper-colour-lowres.jpg" /></a>
		</div>

	</div>

	<br />
	<br />
	<br />
	<br />

	<div class="row">

		<div class="col-md-2 col-lg-2">
		</div>

		<div class="col-md-8 col-lg-8">

			<div class="row">
				<!-- Images  -->
				<div class="col-md-4 col-lg-4 vcenter">
					<div id="pcp1-title" class="text-center">Postcards Pack 1</div>
					<img id="pcp1" class="img-responsive pcd" src="~/images/product/postcard-packs/PostcardPack1/Alice-Groundfloor-TIFF.jpg" alt="...">
						<i class="text-center">@Html.ActionLink("Order Now!", "Create", "Checkout")</i>
				</div>

				<div class="col-md-4 col-lg-4 vcenter">
					<div id="pcp2-title" class="text-center">Postcards Pack 2</div>
					<img id="pcp2" class="img-responsive pcd" src="~/images/product/postcard-packs/PostcardPack2/Alice-Hobby-Horse (1).jpg" alt="...">
					<i class="text-center">@Html.ActionLink("Order Now!", "Create", "Checkout")</i>
				</div>

				<div class="col-md-4 col-lg-4 vcenter">
					<div id="pcp3-title" class="text-center">Postcards Pack 3</div>
					<img id="pcp3" class="img-responsive pcd" src="~/images/product/postcard-packs/PostcardPack3/Finches.jpg" alt="...">
					<i class="text-center">@Html.ActionLink("Order Now!", "Create", "Checkout")</i>
				</div>

			</div>
		</div>

		<div class="col-md-2 col-lg-2">
		</div>

	</div>


	<br />
	<br />

	<div class=row>
		<div class="col-md-6 col-lg-6 vcenter">
			<img class="img-responsive" src="~/images/content/our-postcards/Gold-GF.jpg" alt="...">
		</div>

		<div class="col-md-6 col-lg-6 vcenter">
			<img class="img-responsive" src="~/images/content/our-postcards/Earl-GF.jpg" alt="...">
		</div>
	</div>

</section>


@*<div id="postcard-popup">

	<h1>Postcard</h1>

	<a id="postcard-popup-close">Close</a>

	<img id="puImg" class="img-responsive" alt="..."/>

</div>*@

@*<script src="~/js/jquery.js"></script>*@

<script type="text/javascript">

	//function unloadPcPopupBox() {
	//	$('#postcard-popup').fadeOut("slow");
	//	$("#body-container").css({
	//		"opacity": "1"
	//	});
	//}

	//function loadPcPopupBox(src) {

	//	$("puImg").attr("src", src);

	//	$('#postcard-popup').fadeIn("slow");
	//	$("#body-container").css({
	//		"opacity": "0.3"
	//	});
	//}

	//$(document).ready(function () {

	//	$(".pcd").click(function (e) {
	//		//alert("Competition");

	//		var src = $(this).attr("src");

	//		loadPcPopupBox(src);
	//	});

	//	$('#postcard-popup-close').click(function () {
	//		unloadPcPopupBox();
	//	});
	//});

</script>