﻿@using WebApp.Models
@Model WebApp.Models.ContentCollection

<section id="contentTemplate" class="row container-fluid">

	<div class="col-md-2 col-lg-2">
		@*<img id="artCardsLeft" class="img-responsive" src="@Model.Images["sidebar-l"].Url" />*@
	</div>

	<div id="mainContent" class="col-md-8">

		<div class="row">
			<div class="row container-fluid">
				<img class="img-responsive height-responsive center-block" 
					 style="max-width:100%" 
					 src="@Model.Images["title"].Url" />
			</div>

			<div class="row">
				<div class="col-md-12 font-26 text-center">

					@if (User != null && User.Identity != null)
					{
						if (User.Identity.IsAuthenticated)
						{
							if (User.IsInRole("Administrator"))
							{
								<a href="/">Load</a>
								<br />
								<a href="/">Save</a>
								<br />
								<div contenteditable="true">
									@Html.Raw(@Model.Text["top-blurb"].Text)
								</div>
							}
							else
							{
								@Html.Raw(@Model.Text["top-blurb"].Text)
							}
						}
						else
						{
							@Html.Raw(@Model.Text["top-blurb"].Text)
						}
					}
					else
					{
						@Html.Raw(@Model.Text["top-blurb"].Text)
					}
				</div>

				<div class="col-md-1"></div>
				<div class="col-md-10">
					<img class="img-responsive height-responsive center-block" 
						 style="max-height:500px" 
						 src="@Model.Images["main-character"].Url" />
				</div>
				<div class="col-md-1"></div>
			</div>

			<div class="row container-fluid">
				<div class="col-md-12 font-56 text-center">
					<br />
					<br />
					<br />
					<h1>
					
					@if (User != null && User.Identity != null)
					{
						if (User.Identity.IsAuthenticated)
						{
							if (User.IsInRole("Administrator"))
							{
								<a href="/">Load</a>
								<br />
								<a href="/">Save</a>
								<br />
								<div contenteditable="true">
									@Html.Raw(@Model.Text["sub-blurb"].Text)
								</div>
							}
							else
							{
								@Html.Raw(@Model.Text["sub-blurb"].Text)
							}
						}
						else
						{
							@Html.Raw(@Model.Text["sub-blurb"].Text)
						}
					}
					else
					{
						@Html.Raw(@Model.Text["sub-blurb"].Text)
					}
					<br />
					<br />
				</div>
			</div>
		</div>

		<div class="row container-fluid">

			<div id="contentCenter" class="row container-fluid">

				<div id="contentCenter1" class="col-md-12 text-center">

					<div class="row container-fluid">

						<div class="col-md-3 col-lg-3 center-block vcenter">
						</div>

						<div class="col-md-6 col-lg-6 gallery-image vcenter">
							<img class="img-responsive height-responsive" src="@Model.Images["bottom-l"].Url" />
						</div>

						<div class="col-md-3 col-lg-3 vcenter">
						</div>
					</div>


					<div class="row container-fluid">

						<div class="col-md-3 col-lg-3 vcenter">
						</div>

						<div class="col-md-6 col-lg-6 gallery-image vcenter">
							<img class="img-responsive height-responsive img-thumbnail" src="@Model.Images["bottom-r"].Url" />
						</div>

						<div class="col-md-3 col-lg-3 vcenter">
						</div>
					</div>
				</div>

				@Html.ActionLink("Go to Checkout", "Create", "Checkout")

			</div>

			@*<div class="row container-fluid">
				<div class="col-md-12 font-26 text-center">
					<h1>@Html.Raw(@Model.Text["bottom-blurb"].Text)</h1>

				</div>
			</div>*@
		</div>

	</div>

	@*<div class="col-md-2 col-lg-2 sidebar pull-right">*@
	<div class="col-md-2 col-lg-2">
		@*<img id="artCardsRight" class="img-responsive" src="@Model.Images["sidebar-r"].Url" />*@
	</div>

</section>


