﻿@using WebApp.Models
@Model WebApp.Models.ContentCollection

<section id="test" class="row container-fluid">

	<button id="btnIntro" value="intro">intro</button>
	<button id="btnBySet" value="byset">byset</button>
	<button id="btnFan" value="fan">fan</button>
	<button id="btnShuffle" value="shuffle">shuffle</button>
	<button id="btnSort" value="shuffle">sort</button>
	<button id="btnGallery" value="gallery">gallery</button>

	<div id="container1" class="cardsets-container"></div>

	@*<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-4">
			<div id="container1" class="cardset-container1"></div>
		</div>
		<div class="col-md-4">
			<div id ="container2" class="cardset-container2"></div>
		</div>
		<div class="col-md-2"></div>
	</div>*@

	@*<div class="row">

			<div id="container1" class="cardset-container1"></div>

			<div id="container2" class="cardset-container2"></div>

	</div>*@

</section>
<script src="~/js/jquery.js"></script>
<script src="~/js/cardsets.js"></script>
<script src="~/js/cardsets-test.js"></script>


