﻿<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")

	<!-- Custom Fonts -->
	<link href="~/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<link href="~/Content/prototype.css" rel="stylesheet" type="text/css">

	<style>
		.font-size {
			font-size: 36px;
			padding-left: 15px;
			padding-right: 15px;
			text-decoration: none;
		}
	</style>

</head>

<body id="page-top" class="index">

	@*<header>*@


		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#page-top">Portobello Postcards</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li class="page-scroll">
							<a href="#ourPostcards">Our Postcards</a>
						</li>
						<li class="page-scroll">
							<a href="pubcrawl.html">Portobello Pub Crawl</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>


		@*<div class="navbar navbar-inverse navbar-fixed-top col-md-12">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							@if (User != null && User.Identity != null)
							{
								if (User.Identity.IsAuthenticated)
								{
									if (User.IsInRole("Administrator"))
									{
										<li>@Html.ActionLink("Admin", "Index", "AdminIndex");</li>
									}
								}
							}
						</ul>
						@Html.Partial("_LoginPartial")
					</div>
				</div>
			</div>*@

	@*</header>*@

	<div class="col-md-2">

		<div class="container-fluid">
			<div class="row">
				<<div class="col-lg-12">
					<img class="img-responsive height-responsive" src="images/Side-Banner-Shop.jpg" />
				</div>
			</div>

			<br />
			<br />

		</div>
	</div>

	<div class="col-md-10">

		<div class="container body-content fill">
			@RenderBody()
			<hr />
		</div>
	</div>

	@*<footer id="theFooter" class="navbar-fixed-bottom">
			<p>&copy; 2015 - Portobello Postcards</p>
		</footer>*@

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/angular")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)

	<script type="text/javascript">

		$(document).ready(function () {
			//alert("Ready");
		});

	</script>

	<div class="scroll-top page-scroll visible-xs visible-sm">
		<a class="btn btn-primary" href="#page-top">
			<i class="fa fa-chevron-up"></i>
		</a>
	</div>

	<!-- Plugin JavaScript -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<script src="~/Scripts/classie.js"></script>
	<script src="~/Scripts/cbpAnimatedHeader.js"></script>
	<!-- Contact Form JavaScript -->
	<script src="~/Scripts/jqBootstrapValidation.js"></script>
	<!-- Custom Theme JavaScript -->
	<script src="~/Scripts/freelancer.js"></script>

</body>
</html>
