﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
	using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
	{
		@Html.AntiForgeryToken()

		<ul class="nav navbar-nav navbar-left">
			<li><a href="~/Manage/Index">Hello @User.Identity.GetUserName()!</a></li>
			<li><a href="javascript:document.getElementById('logoutForm').submit()">Sign out</a></li>
		</ul>
	}
}
else
{
	<ul class="nav navbar-nav navbar-right">

		<li>
			<a href="~/Account/Register">Register with Us</a>
		</li>

		<li>
			<a href="~/Account/Login">Sign In</a>
		</li>

	</ul>
}


