﻿<div class="container-fluid">

	<div class="row">
		<div class="col-lg-12 text-center">
			<div>
				<img class="img-responsive height-responsive" src="~/images/NewFrontPage.jpg" />

				@*<picture>
			<source media="(min-width: 64em)" src="@url">
			<source media="(min-width: 37.5em)" src="@url">
			<source src="@url">
			<img src="@url" alt="This picture loads on non-supporting browsers.">
			<p></p>
		</picture>*@

			</div>
			<br />
			<div>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
		</div>
	</div>
</div>



