﻿
	<div class="row">
		<div class="col-md-2">
			<img class="img-responsive height-responsive" src="~/images/postcards/PrinceAlbertPub.jpg" />
			<div><a href="#sendAPostcard"></a></div>
		</div>
		<div class="col-md-2">
			<img class="img-responsive height-responsive" src="~/images/postcards/SuInSplendour.jpg" />
		</div>
		<div class="col-md-2">
			<img class="img-responsive height-responsive" src="~/images/postcards/PrinceAlbertPub.jpg" />
		</div>
		<div class="col-md-2">
			<img class="img-responsive height-responsive" src="~/images/postcards/SuInSplendour.jpg" />
		</div>
		<div class="col-md-2">
			<img class="img-responsive height-responsive" src="~/images/postcards/EarlofLonsdale.jpg" />
		</div>
		<div class="col-md-2">
			<img class="img-responsive height-responsive" src="~/images/postcards/TheGold.jpg" />
		</div>
	</div>

	<div class="row">
		<div class="col-md-2">
			<img class="img-responsive height-responsive" src="~/images/postcards/Finch.jpg" />
		</div>
		<div class="col-md-2">
			<img class="img-responsive height-responsive" src="~/images/postcards/GroundFloorBarNew.jpg" />
		</div>
		<div class="col-md-2">
			<img class="img-responsive height-responsive" src="~/images/postcards/TheCastle.jpg" />
		</div>
		<div class="col-md-6">
			<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
		</div>
	</div>
