﻿<div class="row">
	<div class="col-md-4">
		<img class="img-responsive height-responsive" src="~/images/postcards/PubCrawlMap.jpg" />
	</div>

	<div class="col-md-4">
		<img class="img-responsive height-responsive" src="~/images/NewPubCrawlMap.jpg" />
	</div>


	<div class="col-md-4">

		@*@{
			<object class="img-responsive height-responsive"
					type="text/html"
					data="https://www.google.co.uk/maps/place/Notting+Hill,+London+W11/@51.5110282,-0.205389,15z/data=!3m1!4b1!4m2!3m1!1s0x48760fe2d0cda3a1:0x9020e6e0f234ea4a" style="width:550px; height:400px;"></object>
		}*@
	</div>

</div>


