﻿@{
	for (int x = 1; x <= 7; x++)
	{
		string url = string.Format("/images/pubcrawl/{0}.jpg", x);
		
		<div class="row">
			<div class="col-md-8">
				<div>
					<img class="img-responsive height-responsive" src="@url" />

					@*<picture>
						<source media="(min-width: 64em)" src="@url">
						<source media="(min-width: 37.5em)" src="@url">
						<source src="@url">
						<img src="@url" alt="This picture loads on non-supporting browsers.">
						<p></p>
					</picture>*@

				</div>
				<br />
			</div>
			<div class="col-md-4">
				<div>
					Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</div>
				<br /> <br />
				<div>
					<a href="#sendAPostcard">Send this Postcard</a>
				</div>
				<br />
			</div>
		</div>
	}
}
