﻿@model PortobelloPostCardsCoUk.Models.SendAPostcard

<div>
	Send a postcard.

	<img src="~/images/postcards/blue-door-pic-postcard-back-11.5x16.5.jpg" />


	@*@using (Html.BeginForm("PostSendAPostcard", "api/SendAPostcard", null, FormMethod.Post))
	{
		@Html.AntiForgeryToken()

		<div class="form-horizontal">
			<h4>SendAPostcard</h4>
			@Html.ValidationSummary(true, "", new { @class = "text-danger" })

		</div>
	}*@
</div>







