﻿@model PortobelloPostCardsCoUk.Models.SendAPostcard

@{
	ViewBag.Title = "Portobello Postcards";
}

@*<div data-ng-app="contentApp">
		Test
		<div data-ng-controller="textContentController">
			<div data-ng-bind="models.data.text.placeholder">text-content1</div>
			<div data-ng-bind="models.data.text.content"></div>
		</div>

		<div data-ng-controller="imageContentController">
			<div data-ng-bind="models.data.image.placeholder">find-the-blue-door-no-speech</div>
			<div data-ng-bind="models.data.image.content"></div>
			<img class="container-fluid" src="~/{{models.data.image.content}}" />
		</div>

	</div>*@


<div class="container-fluid fill">

	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<img class="img-responsive height-responsive" src="images/Frontpage.jpg" />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 font-size text-center">
			Our Postcards have been created around Portobello Road and with the characters that still roam these Streets.<br />
			They have been designed to bring some art and life to the place and away from the norm sounvenirs postcards that seam to crowd out the place.<br />
			We hope you enjoy them.<br />
			<br>
			To know more about whats happening and meet some of the locals visit our blog ..
		</div>
		<br />
	</div>

	<section id="ourPostcards">
		<div class="container">
			<div class="col-lg-12 text-center">
				<h2>Our Postcards</h2>
			</div>
		</div>
		<br />
		<div class="row">

			<div class="col-lg-12">
				<img class="img-responsive height-responsive center-block" src="images/pubcrawl/1.jpg" />
			</div>
		</div>
		<br />
		<br />
		<div class="row">
			<div class="col-lg-12">
				<img class="img-responsive height-responsive center-block" src="images/pubcrawl/2.jpg" />
			</div>
		</div>

		<br />
		<br />
		<div class="row">
			<div class="col-lg-12">
				<img class="img-responsive height-responsive center-block" src="images/pubcrawl/3.jpg" />
			</div>
		</div>


		<br />
		<br />
		<div class="row">
			<div class="col-lg-12">
				<img class="img-responsive height-responsive center-block" src="images/pubcrawl/4.jpg" />
			</div>
		</div>

		<br />
		<br />
		<div class="row">
			<div class="col-lg-12">
				<img class="img-responsive height-responsive center-block" src="images/pubcrawl/5.jpg" />
			</div>
		</div>

		<br />
		<br />
		<div class="row">
			<div class="col-lg-12">
				<img class="img-responsive height-responsive center-block" src="images/pubcrawl/6.jpg" />
			</div>
		</div>


		<br />
		<br />
		<div class="row">
			<div class="col-lg-12">
				<img class="img-responsive height-responsive center-block" src="images/pubcrawl/7.jpg" />
			</div>
		</div>

	</section>

	<section id="electricprofile">
		<div class="row">

			<div class="col-lg-8" style="background-size: cover">
				<img class="img-responsive height-responsive" style="width:100%" src="images/Market.jpg" />
			</div>

			<div class="col-lg-4">
				<img class="img-responsive height-responsive center-block pull-right" src="images/Finch-side.jpg" />
			</div>
		</div>

	</section>

	@*<section id="home">
		@Html.Partial("_HomePartial")
	</section>
	<br />

	<section>
		<div id="ourPostcards" class="row">
			<div class="col-md-12 text-center">
				<h2>Our Postcards</h2>
			</div>
		</div>
		@Html.Partial("_OurPostcardsPartial")

	</section>
	<br />

	<section>
		<div id="ourMaps" class="row">
			<div class="col-md-12 text-center">
				<h2>Our Maps</h2>
			</div>
		</div>
		@Html.Partial("_OurMapsPartial")

	</section>
	<br />

	<section>
		<div id="blueDoorPubCrawl" class="row">
			<div class="col-md-12 text-center">
				<h2>The Blue Door Pub Crawl</h2>
			</div>
			@Html.Partial("_PubCrawlPartial")
		</div>
	</section>
	<br />

	<section>
		<div id="sendAPostcard" class="row">
			<div class="col-md-12 text-center">
				<h2>Send a Postcard</h2>
			</div>
			@Html.Partial("_SendAPostcardPartial")
		</div>
	</section>*@

</div>




