﻿@model PortobelloPostCardsCoUk.Models.SendAPostcard

@{
	ViewBag.Title = "Home";
}


@*<div data-ng-app="contentApp">
		Test
		<div data-ng-controller="textContentController">
			<div data-ng-bind="models.data.text.placeholder">text-content1</div>
			<div data-ng-bind="models.data.text.content"></div>
		</div>

		<div data-ng-controller="imageContentController">
			<div data-ng-bind="models.data.image.placeholder">find-the-blue-door-no-speech</div>
			<div data-ng-bind="models.data.image.content"></div>
			<img class="container-fluid" src="~/{{models.data.image.content}}" />
		</div>

	</div>*@


<div class="container-fluid fill">

	<section id="home">
		@Html.Partial("_HomePartial")
	</section>
	<br />

	<section>
		<div id="ourPostcards" class="row">
			<div class="col-md-12 text-center">
				<h2>Our Postcards</h2>
			</div>
		</div>
		@Html.Partial("_OurPostcardsPartial")

	</section>
	<br />

	<section id="blueDoorPubCrawl">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2>The Blue Door Pub Crawl</h2>
			</div>
			@Html.Partial("_PubCrawlPartial")
		</div>
	</section>
	<br />



	<section id="sendAPostcard" hidden="hidden">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2>Send a Postcard</h2>
			</div>
			@Html.Partial("_SendAPostcardPartial")
		</div>
	</section>

</div>




