﻿
@{
    ViewBag.Title = "AdminFileUpload";
}

<h2>File Upload</h2>
@using (Html.BeginForm("Index",
					   "AdminFileUpload",
					   FormMethod.Post,
					   new { enctype = "multipart/form-data" }))
{
	<label for="file">Upload:</label>
	<input type="file" name="file" id="file" accept=".pdf" /><br><br>
	<input type="submit" value="Upload" />
	<br><br>
	@ViewBag.Message
}

