
#wrapper { overflow: auto; }

.bubble-holder {
    
    position: relative;
}




#nwgrip,
#negrip,
#swgrip,
#segrip,
#ngrip,
#egrip,
#sgrip,
#wgrip {
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border: 1px solid #000000;
}

#nwgrip {
    left: -5px;
    top: -5px;
}

#negrip {
    top: -5px;
    right: -5px;
}

#swgrip {
    bottom: -5px;
    left: -5px;
}

#segrip {
    bottom: -5px;
    right: -5px;
}

#ngrip {
    top: -5px;
    left: 50%;
}

#sgrip {
    bottom: -5px;
    left: 50%;
}

#wgrip {
    left: -5px;
    top: 50%;
}

#egrip {
    right: -5px;
    top: 50%;
}