﻿@model IEnumerable<Ppc.Models.Postcard>

@{
	ViewBag.Title = "Postcards";
}

<div class="row">

	<div class="col-xs-2">

		<div class="flip-container"
			 ontouchstart="this.classList.toggle('hover');">
			<div class="flipper">
				<div class="flipper-front">
					<img class="img-responsive modal-img-dblclickable" 
						 src="~/img/postcards/Marcia-colour-LR.jpg" />
				</div>
				<div class="flipper-back">
					<img class="img-responsive modal-img-dblclickable" 
						 src="~/img/postcards/Marcia-colour-LR.jpg" />
				</div>
			</div>
		</div>
	</div>

	<div class="col-xs-8">

		<div class="row">
			<img class="img-responsive"
				 src="~/img/postcards/our-postcards.jpg" />
		</div>

		<div class="row text-center blurb-text">
			Postcards are for sale at <a href="#" data-toggle="modal" data-target="#mapModal">177 Portobello Road W11 2DY</a>
		</div>

	</div>

	<div class="col-xs-2">

		<div class="flip-container"
			 ontouchstart="this.classList.toggle('hover');">
			<div class="flipper">
				<div class="flipper-front">
					<img class="img-responsive modal-img-dblclickable"
						 src="~/img/postcards/JC-Rapper-colour-lowres.jpg" />
				</div>
				<div class="flipper-back">
					<img class="img-responsive modal-img-dblclickable"
						 src="~/img/postcards/JC-Rapper-colour-lowres.jpg" />
				</div>
			</div>
		</div>

		@*<img class="img-responsive"
			 src="~/img/postcards/JC-Rapper-colour-lowres.jpg" />*@

	</div>

</div>

<div class="row">

	<div class="col-xs-1"></div>

	<div class="col-xs-10">
		<div id="carousel-postcards" class="carousel slide" data-ride="carousel" data-interval="false">

			@{ long l = 0; }
			<ol class="carousel-indicators">
				@foreach (var item in Model)
				{
					<li data-target="#carousel-postcards" data-slide-to="@l.ToString()" class="active"></li>
					l++;
				}
			</ol>

			<div class="carousel-inner">

				@{ l = 0; }

				@foreach (var item in Model)
			{
				string cls = "item";
				if (0 == l)
				{
					cls += " active";
				}
				<div class="@cls">
					<img class="img-responsive full-width modal-img-dblclickable"
						 src="@item.Url" alt="@item.Name" />
					<div class="carousel-caption">
						<h2>@item.Name</h2>
					</div>
				</div>

				l++;
			}
			</div>

			<a class="left carousel-control" href="#carousel-postcards" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="right carousel-control" href="#carousel-postcards" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>

		</div>
	</div>

	<div class="col-xs-1"></div>

</div>

<div class="row">

	<div class="col-xs-12">

		<div class="row text-center blurb-text">
			Postcards are for sale at <a href="#" data-toggle="modal" data-target="#mapModal">177 Portobello Road W11 2DY</a>
		</div>

	</div>

</div>


<div class="row">

	<div class="col-xs-6">

		<iframe src="~/html/postcard-pile/postcard-pile.html" 
				style="width:100%;height:500px;border:none"></iframe>

	</div>

	<div class="col-xs-6">

		<iframe src="~/html/postcard-pile/postcard-pile.html" 
				style="width:100%;height:500px;border:none"></iframe>

	</div>

</div>




@section scripts {

	<script type="text/javascript">

		$(document).ready(function ($) {

			$('#carousel-postcards').carousel();

			$("#carousel-postcards").swiperight(function () {
				$("#carousel-postcards").carousel('prev');
			});
			$("#carousel-postcards").swipeleft(function () {
				$("#carousel-postcards").carousel('next');
			});
		});

	</script>
}

