﻿@model PortobelloPostCardsCoUk.Models.ImageContent

@{
    ViewBag.Title = "Details";
}
<div>
	<h2>Details</h2>

	<div>
		<h4>ImageContent</h4>
		<hr />
		<dl class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(model => model.Url)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Url)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Description)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Description)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Placeholder)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Placeholder)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.MimeType)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.MimeType)
			</dd>

		</dl>

		<img src="@Url.Content("~/" + Model.Url)" alt="body" />

	</div>
	<p>
		@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
		@Html.ActionLink("Back to List", "Index")
	</p>
</div>