﻿@model PortobelloPostCardsCoUk.Models.ImageContent

@{
    ViewBag.Title = "Edit";
}

<div>
	<h2>Edit</h2>

	@using (Html.BeginForm("Upload", "AdminImageContents", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		@Html.AntiForgeryToken()

		<div class="form-horizontal">
			<h4>ImageContent</h4>
			<hr />
			@Html.ValidationSummary(true, "", new { @class = "text-danger" })
			@Html.HiddenFor(model => model.Id)

			<div class="form-group">
				@Html.LabelFor(model => model.Url, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.Url, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Url, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Placeholder, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.Placeholder, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Placeholder, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.MimeType, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.MimeType, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.MimeType, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				<label for="file">Filename:</label>
				<input type="file" name="file" id="file" />
			</div>

			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" value="Save" class="btn btn-default" />
				</div>
			</div>


			<img src="@Url.Content("~/" + Model.Url)" alt="body" />
		</div>
	}



	<div>
		@Html.ActionLink("Back to List", "Index")
	</div>
</div>