
@font-face {
  font-family: "Mona-Shark";
    src:  url("Mona-Shark.ttf.woff") format("woff"),
    url("Mona-Shark.ttf.svg#Mona-Shark") format("svg"),
    url("Mona-Shark.ttf.eot"),
    url("Mona-Shark.eot?#iefix") format("embedded-opentype"); 
    font-weight: normal;
    font-style: normal;
}

#testDiv1 { 
   font-family: "Mona-Shark";
   font-size: 60px;
}  

#testDiv2 { 
   font-family: "Mona-Shark";
   font-size: 120px;
   color: red;
}  
