﻿@{
	ViewBag.Title = "Home";
}

<div id="content" class="row">

	<div id="sidebar" class="col-xs-0 col-sm-3 scroll-y">

	<div id="carousel-sidebar"
			 class="carousel slide vertical"
			 data-ride="carousel"
			 data-interval="false">

			<div class="carousel-inner">

				<div class="item active">

					<div class="row modal-img">
						<img id="sidebar-img1" class="img-responsive modal-img-dblclickable"
							 src="~/img/sidebar/Market.jpg" />
					</div>

					<div class="row modal-img">
						<img id="sidebar-img2" class="img-responsive modal-img-dblclickable"
							 src="~/img/sidebar/postbox.jpg" />
					</div>

					<div class="row modal-img">
						<img id="sidebar-img3" class="img-responsive modal-img-dblclickable"
							 src="~/img/sidebar/9.jpg" />
					</div>
					<div class="row modal-img">
						<img id="sidebar-img4" class="img-responsive modal-img-dblclickable"
							 src="~/img/sidebar/GroundFloorBarNew.jpg" />
					</div>

					@*<div class="carousel-caption">
							<h3>Caption Text 1</h3>
						</div>*@

				</div>

				<div class="item">

					<div class="row modal-img">
						<img id="sidebar-img1" class="img-responsive modal-img-dblclickable"
							 src="~/img/sidebar/Finch.jpg" />
					</div>

					<div class="row modal-img">
						<img id="sidebar-img2" class="img-responsive modal-img-dblclickable"
							 src="~/img/sidebar/Upoader Front Page .jpg" />
					</div>

					<div class="row modal-img">
						<img id="sidebar-img3" class="img-responsive modal-img-dblclickable"
							 src="~/img/sidebar/jockey-buster-side-banner.jpg" />
					</div>
					<div class="row modal-img">
						<img id="sidebar-img4" class="img-responsive modal-img-dblclickable"
							 src="~/img/sidebar/Wheel-Chair-Dog.jpg" />
					</div>

					@*<div class="carousel-caption">
							<h3>Caption Text 2</h3>
						</div>*@

				</div>

			</div>

			<a class="left carousel-control" href="#carousel-sidebar" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>

			<a class="right carousel-control" href="#carousel-sidebar" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>

		</div>

	</div>

	<div id="main-content" class="col-xs-12 col-sm-9 scroll-y">

		<div class="row">
			<div class="col-xs-12 nopadding">
				<img class="img-responsive nopadding animated slideInRight" 
					 src="~/img/home/home-title.jpg" />
			</div>
		</div>

		<div class="row nopadding img-hover-container">
			<div class="col-xs-12 nopadding">
				<img class="img-responsive animated slideInLeft"
					 src="~/img/home/home-cafe-scene.jpg" />
			</div>
		</div>

		<div class="row text-center blurb-text">
			The Portobello Postcard Company collection of Postcards celebrate life on Portobello Road and set the scene to a new online story 'The Portobello Tail'
		</div>

		<div class="row nopadding">
			<div class="col-xs-4 nopadding img-hover-container">
				<img class="img-responsive nopadding modal-img-dblclickable animated zoomIn"
					 src="~/img/home/home-pix-1-1.jpg" />
			</div>

			<div class="col-xs-4 nopadding img-hover-container">
				<img class="img-responsive nopadding modal-img-dblclickable animated zoomIn"
					 src="~/img/home/home-pix-1-2.jpg" />
			</div>

			<div class="col-xs-4 nopadding img-hover-container">
				@*<a href="#">*@
					<img class="img-responsive nopadding modal-img-dblclickable animated zoomIn"
						 src="~/img/home/home-pix-1-3.jpg" />
				@*</a>*@
			</div>
		</div>

		<div class="row text-center blurb-text">
			An urban tale of myth that charts the humorous adventures of a former Jockey, a Jack Russell Terrier called Buster and the zany misfits of The Portobello Postcard Company.
		</div>

		<div class="row nopadding">
			<div class="col-xs-4 nopadding img-hover-container">

				<img class="img-responsive nopadding modal-img-dblclickable animated zoomIn"
					 src="~/img/home/home-pix-2-1.jpg" />

			</div>
			<div class="col-xs-4 nopadding img-hover-container">

				<img class="img-responsive nopadding modal-img-dblclickable animated zoomIn"
					 src="~/img/home/home-pix-2-2.jpg" />

			</div>
			<div class="col-xs-4 nopadding img-hover-container">

				<img class="img-responsive nopadding modal-img-dblclickable animated zoomIn"
					 src="~/img/home/home-pix-2-3.jpg" />

			</div>
		</div>

		<div class="row text-center blurb-text">
			Postcards are for sale outside <a href="#" data-toggle="modal" data-target="#mapModal">177 Portobello Road London W11 2DY</a>
		</div>

		<div class="row nopadding">
			<div class="col-xs-4 nopadding img-hover-container">

				<img class="img-responsive nopadding modal-img-dblclickable animated zoomIn"
					 src="~/img/home/home-pix-3-1.jpg" />

			</div>

			<div class="col-xs-4 nopadding">

				<div class="row nopadding">
					<div class="img-hover-container">
						<img class="img-responsive nopadding modal-img-dblclickable animated zoomIn"
							 src="~/img/home/home-pix-3-2-top.jpg" />
					</div>
					</div>

				<div class="row nopadding">
					<div class="img-hover-container">
						<img class="img-responsive nopadding modal-img-dblclickable animated zoomIn"
							 src="~/img/home/home-pix-3-2-bottom.jpg" />
					</div>
					</div>
				</div>

			<div class="col-xs-4 nopadding img-hover-container">

				<img class="img-responsive nopadding modal-img-dblclickable animated zoomIn"
					 src="~/img/home/home-pix-3-3.jpg" />

			</div>
		</div>

		<div class="row nopadding">
			<div class="col-xs-12 nopadding">
				<img class="img-responsive nopadding"
					 src="~/img/home/home-footnote.jpg" />
			</div>
		</div>
	</div>

</div>

@section scripts {

	<script src="~/Scripts/jquery.mobile-swipeupdown.js"></script>

	<script type="text/javascript">

		function sizeDivs() {
			$("#sidebar").css("height", window.innerHeight * 2 + "px");
			$("#main-content").css("height", window.innerHeight * 2 + "px");
		}

		$(document).ready(function ($) {

			sizeDivs();

			$(window).resize(function () {

				sizeDivs();
			});

			$("#carousel-sidebar").carousel();

			$("#carousel-sidebar").swipeup(function () {
				$("#carousel-sidebar").carousel('next');
			});
			$("#carousel-sidebar").swipedown(function () {
				$("#carousel-sidebar").carousel('prev');
			});
		});
	</script>
}

