﻿
@{
	ViewBag.Title = "Stories";
}


<div class="row">
	<h1 class="text-center"><i>Coming Soon!</i></h1>
</div>

<div class="row">

	<div class="col-xs-4">

		<iframe src="~/html/crds/crds.html"
				style="width:100%;height:500px;border:none"></iframe>

	</div>

	<div class="col-xs-4">
		<a class="img-responsive switch" href="/">
			@*<img class="img-responsive"
				 src="~/img/bluedoor/blue-door-quiet.jpg"
				 onmouseover="this.src = './img/bluedoor/blue-door-speech.jpg'"
				 onmouseout="this.src = './img/bluedoor/blue-door-quiet.jpg'"
				 border="0" alt="" />*@

			<img class="img-responsive" src="~/img/bluedoor/blue-door-quiet.jpg" />
			<img class="img-responsive" src="~/img/bluedoor/blue-door-speech.jpg" />
		</a>
	</div>

	<div class="col-xs-4">

		<iframe src="~/html/crds/crds.html"
				style="width:100%;height:500px;border:none"></iframe>

	</div>

</div>



