   
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#pageTop">Portobello Postcards</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li class="hidden">
						<a href="index.html"></a>
					</li>
					<li class="page-scroll">
						<a href="#ourPostcards">Our Postcards</a>
					</li>
					<li class="page-scroll">
						<a href="#pubCrawl">Portobello Pub Crawl</a>
					</li>
                    <li class="page-scroll">
						<a href="#pubCrawl">Other Art and Images</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>  
    
