<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Contents</ion-title>
</ion-navbar>

<ion-content>

  <ion-list>

    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">

      <ion-icon [name]="item.icon" item-left>

      </ion-icon>

      {{item.title}}
      <div class="item-note" item-right>
        {{item.desc}}
      </div>

    </button>

  </ion-list>
  <!--<div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>-->
</ion-content>
