<!- -------------------------------------------------------- ->

                    <div class="row container-fluid">
                        Our Postcards
                        <div>
                            <!-- wrap @img width -->
                            <div id="opc" class="carousel slide" data-ride="carousel" data-interval="6000">
                                <!-- Indicators -->
                                <!--                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>-->

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox" style="height:30%">
                                    <div class="item active">
                                        <img class="img-responsive" src="images/our-postcards/Market.jpg" alt="...">
                                        <!--                                <div class="carousel-caption">
                                    <h3>Caption Text</h3>
                                </div>-->
                                    </div>

                                    <div class="item">
                                        <img class="img-responsive" src="images/Dog-Feed.jpg" alt="...">
                                        <!--                                <div class="carousel-caption">
                                    <h3>Caption Text</h3>
                                </div>-->
                                    </div>

                                    <div class="item">
                                        <img class="img-responsive" src="images/People-1.jpg" alt="...">
                                        <!--                                <div class="carousel-caption">
                                    <h3>Caption Text</h3>
                                </div>-->
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                    <!- -------------------------------------------------------- ->