
    

        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="./index.html">Portobello Postcards</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">

                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="index.html"></a>
                        </li>
                        <!--                        <li class="page-scroll">
                            <a href="#ourPostcards">Our Postcards</a>
                        </li>-->


                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Postcards<span class="caret"></span></a>
                                <ul class="dropdown-menu page-scroll">
                                    <li class="page-scroll"><a href="ourpostcards.html">Our Postcards</a></li>
                                    <li class="page-scroll"><a href="artcards.html">Artcards</a></li>
                                </ul>
                            </li>
                        </ul>


                        <!--                        <li class="page-scroll">
                            <a href="#artcards">Artcards</a>
                        </li>-->

                        <!--
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Artcards<span class="caret"></span></a>
                                <ul class="dropdown-menu page-scroll">
                                    <li class="page-scroll"><a href="#artcards">1</a></li>
                                    <li class="page-scroll"><a href="#">2</a></li>
                                </ul>
                            </li>
                        </ul>
-->


                        <!--                        <li class="page-scroll">
                            <a href="uploaders">Uploaders</a>
                        </li>-->

                        <!--                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Uploaders<span class="caret"></span></a>
                                <ul class="dropdown-menu page-scroll">
                                    <li class="page-scroll"><a href="#">1</a></li>
                                    <li class="page-scroll"><a href="#">2</a></li>
                                </ul>
                            </li>
                        </ul>-->

                        <li class="page-scroll">
                            <a href="buyCredits" class="page-scroll">Buy Credits</a>
                        </li>


                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Meet the Locals<span class="caret"></span></a>
                                <ul class="dropdown-menu page-scroll">
                                    <li class="page-scroll"><a href="/portobellopubcrawl.html">Pub Crawl</a></li>
                                    <li class="page-scroll"><a href="#">Local Stuff</a></li>
                                    <!--                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header">Nav header</li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>-->
                                </ul>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
        </nav>


