﻿@model WebApp.Models.ProductItem

@{
    ViewBag.Title = "Delete";
}
<div>
	<h2>Delete</h2>

	<h3>Are you sure you want to delete this?</h3>
	<div>
		<h4>ProductItem</h4>
		<hr />
		<dl class="dl-horizontal">

			<dd>
				@Html.DisplayFor(model => model.Sku)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.ProductId)
			</dt>
			<dt>
				@Html.DisplayNameFor(model => model.ProductId)
			</dt>
			<dt>
				@Html.DisplayNameFor(model => model.Size)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Size)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Length)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Length)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Width)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Width)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Height)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Height)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Colour)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Colour)
			</dd>


			<dt>
				@Html.DisplayNameFor(model => model.Name)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Name)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Slug)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Slug)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Description)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Description)
			</dd>

		</dl>

		@using (Html.BeginForm())
		{
			@Html.AntiForgeryToken()

			<div class="form-actions no-color">
				<input type="submit" value="Delete" class="btn btn-default" /> |
				@Html.ActionLink("Back to List", "Index")
			</div>
		}
	</div>
</div>