﻿@model WebApp.Models.TextContent

@{
    ViewBag.Title = "Edit";
}
<div>
	<h2>Edit</h2>

	@using (Html.BeginForm("Upload", "AdminTextContents", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		@Html.AntiForgeryToken()

		<div class="form-horizontal">
			<h4>TextContent</h4>
			<hr />
			@Html.ValidationSummary(true, "", new { @class = "text-danger" })
			@Html.HiddenFor(model => model.Id)

			<div class="form-group">
				@Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Placeholder, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.Placeholder, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Placeholder, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.MimeType, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.MimeType, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.MimeType, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				<label for="file">Filename:</label>
				<input type="file" name="file" id="file" />
			</div>

			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" value="Save" class="btn btn-default" />
				</div>
			</div>
		</div>
	}

	<div>
		@Html.ActionLink("Back to List", "Index")
	</div>
</div>