﻿
/* ********************************************************** */

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* ********************************************************** */

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {

	padding: 1em;
}

/*html, body {
    height: 100%;
}*/

header {
	padding-bottom: 4em;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.full-width {
	min-width: 100%;
	width: 100%;
}

.img-hover-container img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.img-hover-container:hover {
	 z-index:555555 !important;
}

.img-hover-container:hover img {
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
     transform:scale(1.25);
}

.modal-img {
	border: 1em solid white;
}

.modal-img-dblclickable {

	cursor: zoom-in;
}

canvas {
  width: 100%;
  height: auto;
}

.blurb-text {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #2c3e50;
    font-weight: 700;
	font-size: 2em;
	font-style: italic;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
}

.scroll-y {
  overflow-y: scroll;
}

.ticker {

	padding-top: 1em;
	padding-bottom: 1em;
}

.ticker-img {
	
	align-content: center;
	height: 5em;
}


/* ----------------------------------------- */

.carousel.vertical .item {
	-webkit-transition: 0.6s ease-in-out top;
	-moz-transition: 0.6s ease-in-out top;
	/*-ms-transition: 0.6s ease-in-out top;*/
	-o-transition: 0.6s ease-in-out top;
	transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
  top: 0;
}

.carousel.vertical .next {
  top: 400px;
}

.carousel.vertical .prev {
  top: -400px;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}

.carousel.vertical .active.left {
  top: -400px;
}

.carousel.vertical .active.right {
  top: 400px;
}

.carousel.vertical .item {
    left: 0;
}

.vertical .carousel-inner {
	height: 100%;
}

/* -------------------------------------------------------- */

/* switch img */
.switch img:last-child{display:none}
.switch:hover img:first-child{display:none}
.switch:hover img:last-child{display:inline-block}

/* flip img */
.flip-container {
	/*perspective: 1000px;*/
}
/* flip the pane when hovered */

.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.flipper-front, .flipper-back {

	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.flipper-front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.flipper-back {
	transform: rotateY(180deg);
}

/* ********************************** */



.navbar {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}



.navbar-default {
    background-color: #2c3e50;
    border-color: transparent
}

.navbar-default .navbar-brand {
    color: #ffffff
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #18bc9c;
    background-color: transparent
}

.navbar-default .navbar-text {
    color: #777777
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #18bc9c;
    background-color: transparent
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: #1a242f
}

.navbar-default .navbar-nav>.disabled>a,
.navbar-default .navbar-nav>.disabled>a:hover,
.navbar-default .navbar-nav>.disabled>a:focus {
    color: #cccccc;
    background-color: transparent
}

.navbar-default .navbar-toggle {
    border-color: #1a242f
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #1a242f
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: transparent
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    background-color: #1a242f;
    color: #ffffff
}

@media (max-width:767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #ffffff
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #18bc9c;
        background-color: transparent
    }
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
        color: #ffffff;
        background-color: #1a242f
    }
    .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a,
    .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:focus {
        color: #cccccc;
        background-color: transparent
    }
}

.navbar-default .navbar-link {
    color: #ffffff
}

.navbar-default .navbar-link:hover {
    color: #18bc9c
}

.navbar-default .btn-link {
    color: #ffffff
}

.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
    color: #18bc9c
}

.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
    color: #cccccc
}

.navbar-inverse {
    background-color: #18bc9c;
    border-color: transparent
}

.navbar-inverse .navbar-brand {
    color: #ffffff
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #2c3e50;
    background-color: transparent
}

.navbar-inverse .navbar-text {
    color: #ffffff
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffffff
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
    color: #2c3e50;
    background-color: transparent
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: #15a589
}

.navbar-inverse .navbar-nav>.disabled>a,
.navbar-inverse .navbar-nav>.disabled>a:hover,
.navbar-inverse .navbar-nav>.disabled>a:focus {
    color: #cccccc;
    background-color: transparent
}

.navbar-inverse .navbar-toggle {
    border-color: #128f76
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #128f76
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #ffffff
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #149c82
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #15a589;
    color: #ffffff
}

@media (max-width:767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu>.dropdown-header {
        border-color: transparent
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color: transparent
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #ffffff
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #2c3e50;
        background-color: transparent
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a,
    .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus {
        color: #ffffff;
        background-color: #15a589
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a,
    .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:focus {
        color: #cccccc;
        background-color: transparent
    }
}

.navbar-inverse .navbar-link {
    color: #ffffff
}

.navbar-inverse .navbar-link:hover {
    color: #2c3e50
}

.navbar-inverse .btn-link {
    color: #ffffff
}

.navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link:focus {
    color: #2c3e50
}

.navbar-inverse .btn-link[disabled]:hover,
fieldset[disabled] .navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link[disabled]:focus,
fieldset[disabled] .navbar-inverse .btn-link:focus {
    color: #cccccc
}



