<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Home</ion-title>
</ion-navbar>


<ion-content padding class="home">

        <div>
            <img src="img/Cafe-Scene-POS-plain.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>

<div align="center">

  Whatever

</div>

        <div>

            <img src="img/4TkLlVOlQjmyhdq8jebD_finchs-sidebar-short.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">

         </div>

        <div>

	          <marquee>

               <img src="img/biker-flipped-small-trans.png" class="img-responsive" />

            </marquee>

        </div>

</ion-content>
