﻿@model IEnumerable<WebApp.Models.Product>

@{
    ViewBag.Title = "Products";
}
<div>
	<p>
		@Html.ActionLink("Create New", "Create")
	</p>

	<p>
		@*<div>@Html.DisplayText("Products in Group " + Model.First().ProductGroupId.ToString())</div>*@

		<div>@Html.DisplayText("Products in Group " + @ViewData["pg_id"])</div>
	</p>

	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.ProductGroupId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Slug)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Description)
			</th>
			<th></th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.ProductGroupId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Slug)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					@Html.ActionLink("Items", "Index", "AdminProductItems", new { id = item.Id }, null) |
					@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
					@Html.ActionLink("Details", "Details", new { id = item.Id }) |
					@Html.ActionLink("Delete", "Delete", new { id = item.Id })
				</td>
			</tr>
		}

	</table>
</div>