﻿
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Portobello Postcards</title>

	<link href="~/css/bootstrap.min.css" rel="stylesheet">
	<link href="~/css/prototype.css" rel="stylesheet">
	<link href="~/css/v_caro.css" rel="stylesheet">
	<link href="~/css/cardsets.css" rel="stylesheet">
	<link href="~/css/postcard-popup.css" rel="stylesheet">

	<!--
		<link rel="import" href="import/navbartop.html" />
	-->
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<meta property="og:url" content="http://portobellopostcards.co.uk" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Portobello Postcards" />
	<meta property="og:description" content="Portobello Postcards" />
	<meta property="og:image" content="images/front-page/Cafe-Scene-POS-plain.jpg" />

</head>

<body>
	<div id="fb-root"></div>
	<script>
		(function (d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

	<header>

		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
					@*<a class="navbar-brand" href="./index.html">Portobello Postcards</a>*@
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li>
							@Html.ActionLink("Portobello Postcards", "OurPostcards", "Home")
						</li>

						<li>
							@Html.ActionLink("Portobello Prints", "Prints", "Home")
						</li>

						<li>
							<div class="fb-share-button navbar-brand"
								 data-href="http://portobellopostcards.co.uk"
								 data-width="200"
								 data-type="button_count">
							</div>
						</li>

						<li>
							<div class="navbar-brand">
								<a href="https://twitter.com/share"
								   class="twitter-share-button navbar-brand" {count}>Tweet</a>
								<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
							</div>
						</li>

						<li>
							<div class="navbar-brand">
								<div class="g-plusone" data-size="medium"></div>
							</div>
						</li>


						@*@if (User != null && User.Identity != null)
							{
								if (User.Identity.IsAuthenticated)
								{
									if (User.IsInRole("Administrator"))
									{
										<li style="font-size:small">@Html.ActionLink("Admin", "Index", "AdminIndex");</li>
									}
								}
							}*@

						@*@Html.Partial("_LoginPartial")*@

						@*<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" role="button"
								   aria-haspopup="true" aria-expanded="false">Meet the Locals<span class="caret"></span></a>
								<ul class="dropdown-menu">

									<li><a href="ourpostcards.html">@Html.ActionLink("Pub Crawl", "OurPostcards", "Home")</a></li>
									<li><a href="artcards.html">@Html.ActionLink("Local Stuff", "OurPostcards", "Home")</a></li>
								</ul>
							</li>*@
					</ul>
				</div>
			</div>
		</div>

	</header>

	<div id="body-container">
		@RenderBody()
	</div>

	<!-- FOOTER -->
	<footer class="footer">
		@*<div id="pageFooter" class="panel-footer row container-fluid">

			<marquee class="ticker-item" behavior="scroll">

				<span>
					<img src="~/images/content/biker-flipped.jpg" style="height: 60px; width:50px;" />
				</span>
				<span>
					Enter our Competition
				</span>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

				<span>
					<img src="~/images/content/biker-flipped.jpg" style="height: 60px; width:50px;" />
				</span>
				<span>
					Enter our Competition
				</span>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

				<span>
					<img src="~/images/content/biker-flipped.jpg" style="height: 60px; width:50px;" />
				</span>
				<span>
					Enter our Competition
				</span>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

				<span>
					<img src="~/images/content/biker-flipped.jpg" style="height: 60px; width:50px;" />
				</span>
				<span>
					Enter our Competition
				</span>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

				<span>
					<img src="~/images/content/biker-flipped.jpg" style="height: 60px; width:50px;" />
				</span>
				<span>
					Enter our Competition
				</span>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

			</marquee>

		</div>*@
	</footer>


	@*<div id="competition-popup" class="postcard-popup-style">

		<h1>Competition</h1>

		<a id="competition-popup-close" class="postcard-popup-close-style">Close</a>

		<div class="row">

			To win a set of Original signed Prints with please enter our competition - Which was the Famous Race Horse of Notting Hill?
		</div>

		<form>
			<div>Answer: <input type="text" /></div>

			<div>Email: <input type="text" /></div>

			<button type="submit" value="Submit Entry" />
		</form>

	</div>*@


	<div id="postcard-popup" class="postcard-popup-style">

		<div><a id="postcard-popup-close" class="postcard-popup-close-style">Close</a></div>

		<h2 id="postcard-popup-header" class="text-center"></h2>

		@*<img id="puImg" class="img-responsive" src="" alt="..." />*@
		<div id="postcard-popup-carousel" class="carousel" data-ride="carousel">

			@*<div id="postcard-popup-carousel" class="carousel">
			*@

			<!-- Wrapper for slides -->
			<div id="postcard-popup-cinner" class="carousel-inner">

			</div>

			<!-- Controls -->
			@*<a class="left carousel-control" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a class="right carousel-control" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>*@

		</div>

		<h2 id="postcard-popup-footer" class="text-center">
			<i>@Html.ActionLink("Click here to order this pack Now!", "Create", "Checkout")</i>
		</h2>

	</div>

	<script src="~/js/jquery.js"></script>
	<script src="~/js/jquery.easing.min.js"></script>
	<script src="~/js/jquery-ui.min.js"></script>
	<script src="~/js/jquery.transit.min.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/prototype.js"></script>
	<script src="~/js/postcard-popup.js"></script>
	@*<script src="~/js/comp-popup.js"></script>*@
	<script src="https://apis.google.com/js/platform.js" async defer></script>

	@RenderSection("scripts", required: false)

	<script type="text/javascript">

		$("body").css("display", "none");

		$("body").fadeIn(175);

		////$('body').transition({
		////	transform: "transform: translateY(0) rotateY(360deg)"
		////}, 1000, "ease-in", function () {
		////});

		//////$('body').css('display', currentDisplay);

		////$('body').transition({
		////	transform: "transform: translateY(0) rotateY(-90deg)"
		////}, 1000, "ease-in", function () {
		////});

		$(document).ready(function () {

			$("a").click(function () {

				var href = $(this).attr("href");

				if (undefined !== href) {

					//$("body").transition({
					//	transform: "transform: translateY(0) rotateY(360deg)"
					//}, 1000, "ease-in", function () {
					//	window.location = href;
					//});

					$("body").fadeOut(175, function () {

						window.location = href;
					});

					return false;
				}

				return true;
			});

			//$(".ticker-item").click(function (e) {
			//	//alert("Competition");

			//	loadCompPopupBox();
			//});

			//$('#competition-popup-close').click(function (e) {
			//	unloadCompPopupBox();
			//});

			$(".pcd").click(function (e) {
				//alert("Competition");

				var id = $(this).attr("id");

				loadPcPopupBox(id);
			});

			$('#postcard-popup-close').click(function () {
				unloadPcPopupBox();
			});


			//$('body').transition({
			//	transform: "transform: rotateY(360deg)"
			//}, 2000, "ease-in", function () {
			//	this.remove();
			//});


			//var sidebarsVisible = true;
			//$(".gallery-image").click(function (e) {

			//	var l = $("#artCardsLeft");
			//	var r = $("#artCardsRight");

			//	l.transition({
			//		transform: "transform: translateY(0) rotateY(90deg)"
			//	}, 1000, "ease-in", function () {
			//		this.remove();
			//	});

			//	r.transition({
			//		transform: "transform: translateY(0) rotateY(90deg)"
			//	}, 500, "ease-in", function () {
			//		this.remove();
			//	});

			//	sidebarsVisible = false;
			//});

		});

	</script>
</body>

</html>
