﻿
@{
    ViewBag.Title = "Admin";
}



<br/>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div>
	@Html.ActionLink("Product Groups", "Index", "AdminProductGroups") |
	@Html.ActionLink("Products", "Index", "AdminProducts") |
	@Html.ActionLink("Product Items", "Index", "AdminProductItems") |
	@Html.ActionLink("Text", "Index", "AdminTextContents") |
	@Html.ActionLink("Images", "Index", "AdminImageContents") |
</div>

