* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cardset-container1 {
  position: fixed;
  top: calc(50% + 1.5rem);
  left: 0%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.cardset-container2 {
  position: fixed;
  top: calc(50% + 1.5rem);
  left: 25%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.cardset-container3 {
  position: fixed;
  top: calc(50% + 1.5rem);
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.cardset-container4 {
  position: fixed;
  top: calc(50% + 1.5rem);
  left: 75%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.card {
  position: absolute;
  display: inline-block;
  left: -1.9375rem;
  top: -2.75rem;
  /*height: 3.875rem;*/
    height: 7.75rem;
  /*width: 5.5rem;*/
  width: 10.10rem;
  background-color: #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  cursor: default;
}
.card:before,
.card:after {
  position: absolute;
  font-size: 0.7rem;
  text-align: center;
  line-height: 0.7rem;
  font-family: 'Ubuntu Condensed', sans-serif;
  white-space: pre-line;
  width: 0.55rem;
  letter-spacing: -0.1rem;
}
.card:before {
  top: 0.15rem;
  left: 0;
}
.card:after {
  bottom: 0.1rem;
  right: 0;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.card .face {
  height: 100%;
  background-position: 50% 50%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.card .back {
  position: absolute;
  background-image: url("../images/all/pubcrawl/back.jpg");
  background-position: 50% 50%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.card.set1.rank1 .face {
  background-image: url("../../../images/all/pubcrawl/1.jpg");
}
.card.set1.rank2 .face {
  background-image: url("../../../images/all/pubcrawl/1.jpg");
}
.card.set1.rank3 .face {
  background-image: url("../../../images/all/pubcrawl/1.jpg");
}
.card.set1.rank4 .face {
  background-image: url("../../../images/all/pubcrawl/1.jpg");
}
.card.set1.rank5 .face {
  background-image: url("../../../images/all/pubcrawl/1.jpg");
}
.card.set1.rank6 .face {
  background-image: url("../../../images/all/pubcrawl/1.jpg");
}
.card.set1.rank7 .face {
  background-image: url("../../../images/all/pubcrawl/1.jpg");
}
.card.set1.rank8 .face {
  background-image: url("../../../images/all/pubcrawl/1.jpg");
}
.card.set1.rank9 .face {
  background-image: url("../../../images/all/pubcrawl/1.jpg");
}
.card.set1.rank10 .face {
  background-image: url("../../../images/all/pubcrawl/1.jpg");
}
.card.set2.rank1 .face {
  background-image: url("../../../images/all/pubcrawl/1.jpg");
}
.card.set2.rank2 .face {
  background-image: url("../../../images/all/pubcrawl/1.jpg");
}
.card.set2.rank3 .face {
  background-image: url("../../../images/all/pubcrawl/1.jpg");
}
.card.set2.rank4 .face {
  background-image: url("../../../images/all/pubcrawl/1.jpg");
}
.card.set2.rank5 .face {
  background-image: url("../../../images/all/pubcrawl/1.jpg");
}
.card.set2.rank6 .face {
  background-image: url("../../../images/all/pubcrawl/1.jpg");
}
.card.set2.rank7 .face {
  background-image: url("../../../images/all/pubcrawl/1.jpg");
}
.card.set2.rank8 .face {
  background-image: url("../../../images/all/pubcrawl/1.jpg");
}
.card.set2.rank9 .face {
  background-image: url("../../../images/all/pubcrawl/1.jpg");
}
.card.set2.rank10 .face {
  background-image: url("../../../images/all/pubcrawl/1.jpg");
}
.card.set3.rank1 .face {
  background-image: url("../../../images/all/pubcrawl/1.jpg");
}
.card.set3.rank2 .face {
  background-image: url("../../../images/all/pubcrawl/1.jpg");
}
.card.set3.rank3 .face {
  background-image: url("../../../images/all/pubcrawl/1.jpg");
}
.card.set3.rank4 .face {
  background-image: url("../../../images/all/pubcrawl/1.jpg");
}
.card.set3.rank5 .face {
  background-image: url("../../../images/all/pubcrawl/1.jpg");
}
.card.set3.rank6 .face {
  background-image: url("../../../images/all/pubcrawl/1.jpg");
}
.card.set3.rank7 .face {
  background-image: url("../../../images/all/pubcrawl/1.jpg");
}
.card.set3.rank8 .face {
  background-image: url("../../../images/all/pubcrawl/1.jpg");
}
.card.set3.rank9 .face {
  background-image: url("../../../images/all/pubcrawl/1.jpg");
}
.card.set3.rank10 .face {
  background-image: url("../../../images/all/pubcrawl/1.jpg");
}
.card.set4.rank1 .face {
  background-image: url("../../../images/all/pubcrawl/1.jpg");
}
.card.set4.rank2 .face {
  background-image: url("../../../images/all/pubcrawl/1.jpg");
}
.card.set4.rank3 .face {
  background-image: url("../../../images/all/pubcrawl/1.jpg");
}
.card.set4.rank4 .face {
  background-image: url("../../../images/all/pubcrawl/1.jpg");
}
.card.set4.rank5 .face {
  background-image: url("../../../images/all/pubcrawl/1.jpg");
}
.card.set4.rank6 .face {
  background-image: url("../../../images/all/pubcrawl/1.jpg");
}
.card.set4.rank7 .face {
  background-image: url("../../../images/all/pubcrawl/1.jpg");
}
.card.set4.rank8 .face {
  background-image: url("../../../images/all/pubcrawl/1.jpg");
}
.card.set4.rank9 .face {
  background-image: url("../../../images/all/pubcrawl/1.jpg");
}
.card.set4.rank10 .face {
  background-image: url("../../../images/all/pubcrawl/1.jpg");
}

@media (max-width: 540px) {
  #topbar {
    text-align: left;
  }
  .gh-ribbon {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }
}
@media (min-width: 640px) {
  html {
    font-size: 125%;
  }
}
