
/*html, body, ul.thumbo, ul.thumbo li {
    padding: 0;
    margin: 0;
}
html, body, ul.thumbo {
    width: 100%;
    height: 100%;
    overflow: hidden;
}*/

html, body, ul.thumbo, div, ul.thumbo li {
    padding: 0;
    margin: 0;
}
html, body, div, ul.thumbo {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

ul.thumbo {
    position: relative;
    list-style: none;

/*    background: -webkit-gradient(radial, 45 45, 50, 50 10, 640, from(#444), to(#333)) !important;
    background: #333;*/
}
ul.thumbo li {
    position: absolute;
    top: 50%;
    left: 50%;
/*    padding: 6px 6px 24px 6px;*/
    background: #FFF;
    width: 150px;
    height: 130px;

    -moz-box-shadow:1px 1px 6px #222;
	-webkit-box-shadow:1px 1px 6px #222;
	box-shadow:1px 1px 6px #222;

    -webkit-transition: all 1s ease-in-out;

    z-index: 0;
}
ul.thumbo li img {
    width: 100%;
    height: 100%;
}


ul.thumbo li:nth-child(1) {
    margin-top: -130px;
    margin-left: -130px;
    -moz-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
/*    -webkit-filter: blur(5px);*/
}
ul.thumbo li:nth-child(2) {
    margin-top: -120px;
    margin-left: -10px;
    -moz-transform: rotate(19deg);
    -webkit-transform: rotate(19deg);
    transform: rotate(19deg);
/*    -webkit-filter: blur(4px);*/
}
ul.thumbo li:nth-child(3) {
    margin-top: -10px;
    margin-left: -180px;
    -moz-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
/*    -webkit-filter: blur(3px);*/
}
ul.thumbo li:nth-child(4) {
    margin-top: -50px;
    margin-left: -80px;
    -moz-transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
/*    -webkit-filter: blur(2px);*/
}
ul.thumbo li:nth-child(5) {
    margin-top: 20px;
    margin-left: 30px;
    -moz-transform: rotate(-8deg);
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg);
/*    -webkit-filter: blur(1px);*/
}
ul.thumbo li:nth-child(6) {
    margin-top: 20px;
    margin-left: 30px;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(-20deg);
/*    -webkit-filter: blur(1px);*/
}
ul.thumbo li:nth-child(7) {
    margin-top: 20px;
    margin-left: 30px;
    -moz-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
/*    -webkit-filter: blur(1px);*/
}

ul.thumbo li:hover{
    z-index: 10;
    /* original image size */
    width: 480px;
    height: 322px;
    /* put the LI in the center (almost due to bottom padding) */
    margin-top: -151px;
    margin-left: -240px;
    /* the effect is a "zoom" one, the shadow will be bigger */
    -moz-box-shadow:8px 8px 24px #111;
	  -webkit-box-shadow:8px 8px 24px #111;
	  box-shadow:8px 8px 24px #111;
    /* and finally order via zero degrees rotation */
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -webkit-filter: blur(0px);
    transform: rotate(0deg);
}
