﻿.postcard-popup-style {
			display: none;
			position: fixed;
			_position: absolute; /* hack for internet explorer 6 */
			width: 50%;
			background: #ffffff;
			left: 25%;
			top: 15%;
			z-index: 100;
			border: 5px solid black;
		}

		.postcard-popup-close-style {
			font-size: 20px;
			line-height: 15px;
			right: 5px;
			top: 5px;
			position: absolute;
			color: #6fa5e2;
			font-weight: 500;
		}


