@font-face {
    font-family: 'Mona-Shark';
    src: url('../fonts/webfonts_Mona-Shark/Mona-Shark.ttf.woff') format('woff'), url('../fonts/webfonts_Mona-Shark/Mona-Shark.ttf.svg#Mona-Shark') format('svg'), url('../fonts/webfonts_Mona-Shark/Mona-Shark.ttf.eot'), url('../fonts/webfonts_Mona-Shark/Mona-Shark.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@media (min-width: 768px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}

html {

	height: 100%;
	width: 100%;
}

/*div {
    border-style: solid;
    border-width: 1px;
}*/


#pageFooter {
    font-family: "Mona-Shark";
    font-size: 20px;
    font-color: black;
    font-style: italic;
}

#sidebar-l-1 {
    padding-top: 0px;
    height: 1500px;
    width: 100%;
}

#sidebar-l-2 {
    height: 800px;
    width: 100%;
}

#frontPageBottom-l {
    height: 880px;
    width: 100%;
}

#frontPageBottom-r {
    height: 880px;
    width: 100%;
}

#blueDoorGuy img {
    position: absolute;
    left: 0;
    padding-top: 0px;
    overflow: hidden;
    -webkit-transition: opacity 0;
    /*1s ease-in-out;
  -moz-transition: opacity 0; /*1s ease-in-out;*/
    -o-transition: opacity 0;
    /*1s ease-in-out;*/
    transition: opacity 0;
    /*1s ease-in-out;*/
}

#blueDoorGuy img.blue-door-top:hover {
    opacity: 0;
}

#blueDoorGuy img.blue-door-bottom {
    overlap: hidden;
}

#jockey-buster {
    height: 2953px;
    width: 100%;
}


.big-loud-font {
    
    font-family: "Mona-Shark";
    font-size: 40px;
    font-color: black;
    font-style: italic;
}

.sidebar {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.sidebar h2 {
    font-family: "Mona-Shark";
    font-size: 40px;
    font-color: black;
    font-style: italic;
    padding-top: 20px;
}

.sidebar h3 {
    font-family: "Mona-Shark";
    font-size: 20px;
    font-color: black;
    font-style: italic;
    padding-top: 20px;
}

.sidebar-header-text {
    /*    font-family: "Mona-Shark";*/
    font-size: 40px;
    font-color: black;
    font-style: italic;
    padding-top: 20px;
}

.font-26 {
    font-size: 26px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}


.font-52 {
    font-size: 52px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}


.home-section {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}


section {
    padding-top: 60px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

body {
    padding-top: 0px;
    overflow-x: hidden;
    @media screen and (max-width: 768px) {
        body {
            padding-top: 0px;
        }
    }
    a,
    a:hover,
    a:focus,
    a:active,
    a.active {
        outline: 0;
        color: #18bc9c;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-transform: uppercase;
        font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 700;
    }
    @media(min-width:768px) {
        .navbar-fixed-top {
            padding: 25px 0;
            -webkit-transition: padding .3s;
            -moz-transition: padding .3s;
            transition: padding .3s;
        }
        .navbar-fixed-top .navbar-brand {
            font-size: 2em;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            transition: all .3s;
        }
        .navbar-fixed-top.navbar-shrink {
            padding: 10px 0;
        }
        .navbar-fixed-top.navbar-shrink .navbar-brand {
            font-size: 1.5em;
        }
    }
}

.navbar {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

@media(max-width:767px) {
    section {
        padding: 75px 0;
    }
    section.first {
        padding-top: 75px;
    }
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}

.gallery-img:hover {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    -ms-transform: scale(1.4);
}

.vcenter {
    display: table-cell;
    vertical-align: middle;
    float: none;
    margin: 0 auto;
}

.img-responsive{
  max-width: 100%;
  height: auto;
}


.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}


/*.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}*/