    .carousel-inner.vertical {
        height: 100%;
    }
    
    .carousel-inner.vertical > .item {
        -webkit-transition: .6s ease-in-out top;
        -o-transition: .6s ease-in-out top;
        transition: .6s ease-in-out top;
    }
    
    @media all and (transform-3d),
    (-webkit-transform-3d) {
        .carousel-inner.vertical > .item {
            -webkit-transition: -webkit-transform .6s ease-in-out;
            -o-transition: -o-transform .6s ease-in-out;
            transition: transform .6s ease-in-out;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-perspective: 1000;
            perspective: 1000;
        }
        .carousel-inner.vertical > .item.next,
        .carousel-inner.vertical > .item.active.right {
            top: 0;
            -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
        }
        .carousel-inner.vertical > .item.prev,
        .carousel-inner.vertical > .item.active.left {
            top: 0;
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
        }
        .carousel-inner.vertical > .item.next.left,
        .carousel-inner.vertical > .item.prev.right,
        .carousel-inner.vertical > .item.active {
            top: 0;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
    
    .carousel-inner.vertical > .active {
        top: 0;
    }
    
    .carousel-inner.vertical > .next,
    .carousel-inner.vertical > .prev {
        top: 0;
        height: 100%;
        width: auto;
    }
    
    .carousel-inner.vertical > .next {
        left: 0;
        top: 100%;
    }
    
    .carousel-inner.vertical > .prev {
        left: 0;
        top: -100%
    }
    
    .carousel-inner.vertical > .next.left,
    .carousel-inner.vertical > .prev.right {
        top: 0;
    }
    
    .carousel-inner.vertical > .active.left {
        left: 0;
        top: -100%;
    }
    
    .carousel-inner.vertical > .active.right {
        left: 0;
        top: 100%;
    }

.carousel-inner .active.left  { left: -33%;             }
.carousel-inner .active.right { left: 33%;              }
.carousel-inner .next         { left: 33%               }
.carousel-inner .prev         { left: -33%              }
.carousel-control.left        { background-image: none; }
.carousel-control.right       { background-image: none; }
.carousel-inner .item         { background: white;      }


/*

.carousel {
    height: 400px;
    overflow: hidden;
}
.carousel .item {
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.carousel .active.left, .carousel .active.right {
    left:0;
    opacity:0;
    z-index:2;
}
.carousel .next, .carousel .prev {
    left:0;
    opacity:1;
    z-index:1;
}

*/
