
#f1_container {
  position: relative;
  margin: 10px auto;
  width: 450px;
  height: 281px;
  z-index: 1;
    
  perspective: 1000;
}


#f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}

#f1_container:hover #f1_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #aaa;
}



.send {

    width: 10%;
    height: 10%;
}


#postcardMessage 
{
    position:absolute;
    top:65%;
    left:10%;
    height: 100%;
    width: 85%;
    background: transparent;
    border: none;
    font: 400 50px/0.8 'Cookie', Helvetica, sans-serif;
    color: black;
}


#postcardAddress 
{
    position:absolute;
    top:90%;
    left:110%;
    height: 110%;
    width: 80%;
    background: transparent;
    border: none;
    font: 400 50px/0.8 'Cookie', Helvetica, sans-serif;
    color: black;
}

